<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Country';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
     <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">General</h2>
                
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form role="form" action="#" method="post">
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="country">Country:</label>
                                <input type="text" class="form-control" id="country" name="country" placeholder="" value="Belgium" disabled>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="gcode">Gateway Code:</label>
                                <input type="text" class="form-control" id="gcode" name="gcode" placeholder="" value="BRU+" >
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="iatacode">IATA Code</label>
                            <div class="controls">
                                <select ui-jq="chosen"  class="form-control" id="iatacode" data-placeholder="Pages for current User" name="iatacode[]" required>
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option selected="selected">BE</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                        <optgroup>
                                            <optgroup label="NFC NORTH">
                                                <option>Chicago Bears</option>
                                                <option>Detroit Lions</option>
                                                <option>Green Bay Packers</option>
                                                <option>Minnesota Vikings</option>
                                            </optgroup>
                                            <optgroup label="NFC SOUTH">
                                                <option>Atlanta Falcons</option>
                                                <option>Carolina Panthers</option>
                                                <option>New Orleans Saints</option>
                                                <option>Tampa Bay Buccaneers</option>
                                            </optgroup>
                                            <optgroup label="NFC WEST">
                                                <option>Arizona Cardinals</option>
                                                <option>St. Louis Rams</option>
                                                <option>San Francisco 49ers</option>
                                                <option>Seattle Seahawks</option>
                                            </optgroup>
                                            <optgroup label="AFC EAST">
                                                <option>Buffalo Bills</option>
                                                <option>Miami Dolphins</option>
                                                <option>New England Patriots</option>
                                                <option>New York Jets</option>
                                            </optgroup>
                                            <optgroup label="AFC NORTH">
                                                <option>Baltimore Ravens</option>
                                                <option>Cincinnati Bengals</option>
                                                <option>Cleveland Browns</option>
                                                <option>Pittsburgh Steelers</option>
                                            </optgroup>
                                            <optgroup label="AFC SOUTH">
                                                <option>Houston Texans</option>
                                                <option>Indianapolis Colts</option>
                                                <option>Jacksonville Jaguars</option>
                                                <option>Tennessee Titans</option>
                                            </optgroup>
                                            <optgroup label="AFC WEST">
                                                <option>Denver Broncos</option>
                                                <option>Kansas City Chiefs</option>
                                                <option>Oakland Raiders</option>
                                                <option>San Diego Chargers</option>
                                            </optgroup>
                                </select>
                            </div>
                        </div>
						
						<div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="g_group">Country Group</label>
                            <div class="controls">
                                <select ui-jq="chosen"  class="form-control" id="g_group" data-placeholder="Pages for current User" name="g_group[]" required>
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option selected="selected">ROW</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                        <optgroup>
                                            <optgroup label="NFC NORTH">
                                                <option>Chicago Bears</option>
                                                <option>Detroit Lions</option>
                                                <option>Green Bay Packers</option>
                                                <option>Minnesota Vikings</option>
                                            </optgroup>
                                            <optgroup label="NFC SOUTH">
                                                <option>Atlanta Falcons</option>
                                                <option>Carolina Panthers</option>
                                                <option>New Orleans Saints</option>
                                                <option>Tampa Bay Buccaneers</option>
                                            </optgroup>
                                            <optgroup label="NFC WEST">
                                                <option>Arizona Cardinals</option>
                                                <option>St. Louis Rams</option>
                                                <option>San Francisco 49ers</option>
                                                <option>Seattle Seahawks</option>
                                            </optgroup>
                                            <optgroup label="AFC EAST">
                                                <option>Buffalo Bills</option>
                                                <option>Miami Dolphins</option>
                                                <option>New England Patriots</option>
                                                <option>New York Jets</option>
                                            </optgroup>
                                            <optgroup label="AFC NORTH">
                                                <option>Baltimore Ravens</option>
                                                <option>Cincinnati Bengals</option>
                                                <option>Cleveland Browns</option>
                                                <option>Pittsburgh Steelers</option>
                                            </optgroup>
                                            <optgroup label="AFC SOUTH">
                                                <option>Houston Texans</option>
                                                <option>Indianapolis Colts</option>
                                                <option>Jacksonville Jaguars</option>
                                                <option>Tennessee Titans</option>
                                            </optgroup>
                                            <optgroup label="AFC WEST">
                                                <option>Denver Broncos</option>
                                                <option>Kansas City Chiefs</option>
                                                <option>Oakland Raiders</option>
                                                <option>San Diego Chargers</option>
                                            </optgroup>
                                </select>
                            </div>
                        </div>	
						<div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="vcode">VAT CODE</label>
                            <div class="controls">
                                <select ui-jq="chosen"  class="form-control" id="vcode" data-placeholder="Pages for current User" name="vcode[]" required>
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option selected="selected">2</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                        <optgroup>
                                            <optgroup label="NFC NORTH">
                                                <option>Chicago Bears</option>
                                                <option>Detroit Lions</option>
                                                <option>Green Bay Packers</option>
                                                <option>Minnesota Vikings</option>
                                            </optgroup>
                                            <optgroup label="NFC SOUTH">
                                                <option>Atlanta Falcons</option>
                                                <option>Carolina Panthers</option>
                                                <option>New Orleans Saints</option>
                                                <option>Tampa Bay Buccaneers</option>
                                            </optgroup>
                                            <optgroup label="NFC WEST">
                                                <option>Arizona Cardinals</option>
                                                <option>St. Louis Rams</option>
                                                <option>San Francisco 49ers</option>
                                                <option>Seattle Seahawks</option>
                                            </optgroup>
                                            <optgroup label="AFC EAST">
                                                <option>Buffalo Bills</option>
                                                <option>Miami Dolphins</option>
                                                <option>New England Patriots</option>
                                                <option>New York Jets</option>
                                            </optgroup>
                                            <optgroup label="AFC NORTH">
                                                <option>Baltimore Ravens</option>
                                                <option>Cincinnati Bengals</option>
                                                <option>Cleveland Browns</option>
                                                <option>Pittsburgh Steelers</option>
                                            </optgroup>
                                            <optgroup label="AFC SOUTH">
                                                <option>Houston Texans</option>
                                                <option>Indianapolis Colts</option>
                                                <option>Jacksonville Jaguars</option>
                                                <option>Tennessee Titans</option>
                                            </optgroup>
                                            <optgroup label="AFC WEST">
                                                <option>Denver Broncos</option>
                                                <option>Kansas City Chiefs</option>
                                                <option>Oakland Raiders</option>
                                                <option>San Diego Chargers</option>
                                            </optgroup>
                                </select>
                            </div>
                        </div>						
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="tzone">Time Zone:</label>
                                <input type="text" class="form-control" id="tzone" name="tzone" placeholder="" value="" >
                            </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Delivery</h2>
                
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="da1">Delivery Agent:</label>
                                <input type="text" class="form-control" id="da1" name="da1" placeholder="" value="" >
                            </div>
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="tdaysd">Transit Days DDX:</label>
                                <input type="text" class="form-control" id="tdaysd" name="tdaysd" placeholder="" value="" >
                            </div>
					<div class="form-group col-md-6 col-sm-12 col-xs-12">			
                                <label class="form-label" for="da2">Delivery Agent:</label>
                                <input type="text" class="form-control" id="da2" name="da2" placeholder="" value="" >
                            </div>							
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="tdaysn">Transit Days NDX:</label>
                                <input type="text" class="form-control" id="tdaysn" name="tdaysn" placeholder="" value="" >
                            </div>        
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="pod">Expected POD Return {Transit+} Days:</label>
                                <input type="text" class="form-control" id="pod" name="pod" placeholder="" value="" >
                            </div>    
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Zoning</h2>
                
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="czone">Default Customer Zone:</label>
                                <input type="text" class="form-control" id="czone" name="czone" placeholder="" value="19" >
                            </div>
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="azone">Default Agent Zone:</label>
                                <input type="text" class="form-control" id="azone" name="azone" placeholder="" value="21" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="inte">Service:</label>
                                
                            </div>							
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="inte">INT:</label>
                                <input type="text" class="form-control" id="inte" name="inte" placeholder="" value="0" >
                    </div>							
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="dex">Dex:</label>
                                <input type="text" class="form-control" id="dex" name="dex" placeholder="" value="6" >
                    </div>
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="sin">Sin:</label>
                                <input type="text" class="form-control" id="sin" name="sin" placeholder="" value="1" >
                    </div>
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="r1">R1:</label>
                                <input type="text" class="form-control" id="r1" name="r1" placeholder="" value="3" >
                    </div>
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="fie">FIE:</label>
                                <input type="text" class="form-control" id="fie" name="fie" placeholder="" value="2" >
                    </div>
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="fip">FIP:</label>
                                <input type="text" class="form-control" id="fip" name="fip" placeholder="" value="0" >
                    </div>
					
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="imp">IMP:</label>
                                <input type="text" class="form-control" id="imp" name="imp" placeholder="" value="7" >
                    </div>
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="int2">INT2:</label>
                                <input type="text" class="form-control" id="int2" name="int2" placeholder="" value="6" >
                    </div>
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="clrc">CLRC:</label>
                                <input type="text" class="form-control" id="clrc" name="clrc" placeholder="" value="0" >
                    </div>					
					<div class="form-group col-md-1 col-sm-1 col-xs-1">			
                                <label class="form-label" for="tg">TG:</label>
                                <input type="text" class="form-control" id="tg" name="tg" placeholder="" value="0" >
                    </div>					
                    </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>					
                </div>
            </div>
        </section>
    </div>	
</div>   
    </div>
    
    
</div>