
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Customer Tariff Card AF';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Customer List</h2>
               <!-- <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>-->
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/customer-file.json',
          aoColumns: [
            { mData: 'id' },
            { mData: 'name' },
            { mData: 'brief' },
            { mData: 'HOD' },
            { mData: 'email' },
			{ mData: 'students' }
          ]
        }" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">Service</th>
                                        <th style="width:5%">Zone</th>
                                        
                                        <th style="width:20%">Description</th>
                                        <th style="width:10%">Currency</th>
                                        <th style="width:10%">Active Date</th>
                                        <th style="width:10%">Product</th>
                                        
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
