<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Customer Invoice Selection';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Invoice Run</h2>
               <!-- <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>-->
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                <form action ="#" method="post" class="form-validation">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
					<div ng-controller="DatepickerDemoCtrl">
                        <div class="form-group">
                            <label class="form-label" for="invoice_date">Date of invoice run:</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <input type="date" name="invoice_date" id="invoice_date" class="form-control datepicker" uib-datepicker-popup ng-model="dt" is-open="dtpick.opened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-addon" ng-click="open($event,'opened2')"><i class="fa fa-calendar" style="color: #999;"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="upto_date">Invoice upto and Inculding:</label>
                            <span class="desc"></span>
                            <div class="input-group" inputgroup>
                                <input type="date" name="upto_date" id="upto_date" class="form-control datepicker" uib-datepicker-popup ng-model="dt" is-open="dtpick.opened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-addon" ng-click="open($event,'opened2')"><i class="fa fa-calendar" style="color: #999;"></i></span>
                            </div>
                        </div>  
					</div>		
                        <div class="form-group">
                            <label class="form-label" for="acc">Account:</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" id="acc" name="acc"  required value="*">
                            </div>
                        </div>                      
                        <div class="form-group">
                            <label class="form-label" for="group">Group:</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" id="group" name="group"  required value="*">
                            </div>
                        </div>                        
                       
							<div class="form-group">
                            <label class="form-label" for="field-pages">Period:</label>
                            <div class="controls">
                                <select ui-jq="chosen"  class="form-control" data-placeholder="Pages for current User" name="pages" required>
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option selected="selected">*</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                        <optgroup>
                                            <optgroup label="NFC NORTH">
                                                <option>Chicago Bears</option>
                                                <option>Detroit Lions</option>
                                                <option>Green Bay Packers</option>
                                                <option>Minnesota Vikings</option>
                                            </optgroup>
                                            <optgroup label="NFC SOUTH">
                                                <option>Atlanta Falcons</option>
                                                <option>Carolina Panthers</option>
                                                <option>New Orleans Saints</option>
                                                <option>Tampa Bay Buccaneers</option>
                                            </optgroup>
                                            <optgroup label="NFC WEST">
                                                <option>Arizona Cardinals</option>
                                                <option>St. Louis Rams</option>
                                                <option>San Francisco 49ers</option>
                                                <option>Seattle Seahawks</option>
                                            </optgroup>
                                            <optgroup label="AFC EAST">
                                                <option>Buffalo Bills</option>
                                                <option>Miami Dolphins</option>
                                                <option>New England Patriots</option>
                                                <option>New York Jets</option>
                                            </optgroup>
                                            <optgroup label="AFC NORTH">
                                                <option>Baltimore Ravens</option>
                                                <option>Cincinnati Bengals</option>
                                                <option>Cleveland Browns</option>
                                                <option>Pittsburgh Steelers</option>
                                            </optgroup>
                                            <optgroup label="AFC SOUTH">
                                                <option>Houston Texans</option>
                                                <option>Indianapolis Colts</option>
                                                <option>Jacksonville Jaguars</option>
                                                <option>Tennessee Titans</option>
                                            </optgroup>
                                            <optgroup label="AFC WEST">
                                                <option>Denver Broncos</option>
                                                <option>Kansas City Chiefs</option>
                                                <option>Oakland Raiders</option>
                                                <option>San Diego Chargers</option>
                                            </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </section>
    </div>
    
    
</div>