<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Price Information';">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">general info</h2>
                            
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <ul class="list-inline margin-bottom-0 text-right">
                                        <li>012154545446118</li>
                                        <li>7856416</li>
                                        <li>INT</li>
                                        <li>NDX</li>
                                        <li>Sebastopol</li>
                                        <li>Australia</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                        
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
     <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            
            <div class="content-body">
                <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Account Charge</h4>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="basic_charge">Basic Charge:</label>
                                <input type="text" class="form-control" id="basic_charge" name="basic_charge" placeholder="" value="62.70" >
                            </div>
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="sup">SUP:</label>
                                <input type="text" class="form-control" id="sup" name="sup" placeholder="" value="0.00" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="addt">Additionals:</label>
                                <input type="text" class="form-control" id="addt" name="addt" placeholder="" value="0.00" >
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="noncharge">Non-Dex Surcharge:</label>
                                <input type="text" class="form-control" id="noncharge" name="noncharge" placeholder="" value="0.00" >
                            </div>        
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="onf">On Forwarding:</label>
                                <input type="text" class="form-control" id="onf" name="onf" placeholder="" value="0.00" >
                            </div>    
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="extra">Extras:</label>
                                <input type="text" class="form-control" id="extra" name="extra" placeholder="" value="0.00" >
                            </div>  
				  <div class="form-group col-md-6 col-sm-12 col-xs-12 margin-top-25">
                                <label class="form-label" for="onf"></label>
                                <a type="button" class="btn btn-accent btn-sm">Extras</a>
                            </div> 
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="tot">Total:</label>
                                <input type="text" class="form-control" id="tot" name="tot" placeholder="" value="62.70" >
                            </div>        
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="curr"></label>
                                <input type="text" class="form-control" id="curr" name="curr" placeholder="" value="SGD" >
                            </div> 							
                    </div>
                    </div>
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Local Currency Conversion</h4>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f1"></label>
                                <input type="text" class="form-control" id="f1" name="f1" placeholder="" value="" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f2"></label>
                                <input type="text" class="form-control" id="f2" name="f2" placeholder="" value="" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="f3"></label>
                                <input type="text" class="form-control" id="f3" name="f3" placeholder="" value="" >
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f4"></label>
                                <input type="text" class="form-control" id="f4" name="f4" placeholder="" value="" >
                            </div>        
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f5"></label>
                                <input type="text" class="form-control" id="f5" name="f5" placeholder="" value="" >
                            </div>   
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f6"></label>
                                <input type="text" class="form-control" id="f6" name="f6" placeholder="" value="" >
                            </div>   							
                    </div>
                    </div>	
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-15">
                       <h4></h4>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="tariff">Tariff:</label>
                                <input type="text" class="form-control" id="tariff" name="tariff" placeholder="" value="IC" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="zone">ZONE:</label>
                                <input type="text" class="form-control" id="zone" name="zone" placeholder="" value="13" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="status">Status:</label>
                                 <select class="form-control ">
                                <option>Y</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="weight">Weight:</label>
                                <input type="text" class="form-control" id="weight" name="weight" placeholder="" value="13" >
                            </div>        
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="invoice">invoice no:</label>
                                <input type="text" class="form-control" id="invoice" name="invoice" placeholder="" value="0.00" >
                            </div>    
										
                    </div>
                    </div>					
                </div>
				
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            
            <div class="content-body">
                <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Agent Cost</h4>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="basic_charge1">Basic Charge:</label>
                                <input type="text" class="form-control" id="basic_charge1" name="basic_charge1" placeholder="" value="0.00" >
                            </div>
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="sup1">SUP:</label>
                                <input type="text" class="form-control" id="sup1" name="sup1" placeholder="" value="0.00" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="addt1">Additionals:</label>
                                <input type="text" class="form-control" id="addt1" name="addt1" placeholder="" value="0.00" >
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="noncharge1">Non-Dex Surcharge:</label>
                                <input type="text" class="form-control" id="noncharge1" name="noncharge1" placeholder="" value="0.00" >
                            </div>      
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="unknown"> Surcharge:</label>
                                <input type="text" class="form-control" id="unknown" name="unknown" placeholder="" value="0.00" >
                            </div>  							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="onf1">On Forwarding:</label>
                                <input type="text" class="form-control" id="onf1" name="onf1" placeholder="" value="0.00" >
                            </div>    
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="tot1">Total:</label>
                                <input type="text" class="form-control" id="tot1" name="tot1" placeholder="" value="0.00" >
                            </div>  
				  <div class="form-group col-md-6 col-sm-12 col-xs-12 margin-top-25">
                                <label class="form-label" for="onf"></label>
                                <a type="button" class="btn btn-accent btn-sm">SGD</a>
                            </div> 
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="ltcost">Lineout Cost (L/C):</label>
                                <input type="text" class="form-control" id="ltcost" name="ltcost" placeholder="" value="0.00" >
                            </div>        
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="excharges">Extra Charges (L/c):</label>
                                <input type="text" class="form-control" id="excharges" name="excharges" placeholder="" value="0.00" >
                            </div>  
				  <div class="form-group col-md-6 col-sm-12 col-xs-12 margin-top-25">
                                <label class="form-label" for="onf"></label>
                                <a type="button" class="btn btn-info btn-sm">Extras</a>
                            </div>							
                    </div>
                    </div>
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-15">
                        <h4>Local Currency Conversion</h4>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f7"></label>
                                <input type="text" class="form-control" id="f7" name="f7" placeholder="" value="" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f8"></label>
                                <input type="text" class="form-control" id="f8" name="f8" placeholder="" value="" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="f9"></label>
                                <input type="text" class="form-control" id="f9" name="f9" placeholder="" value="" >
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f10"></label>
                                <input type="text" class="form-control" id="f10" name="f10" placeholder="" value="" >
                            </div>        
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f11"></label>
                                <input type="text" class="form-control" id="f11" name="f11" placeholder="" value="" >
                            </div>   
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="f6"></label>
                                <input type="text" class="form-control" id="f12" name="f12" placeholder="" value="" >
                            </div>   	
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="f13">Margin</label>
                                <input type="text" class="form-control" id="f13" name="f13" placeholder="" value="100.00" >
                            </div> 		
                    <div class="form-group col-md-8 col-sm-12 col-xs-12">
                                <label class="form-label" for="f14">Total Cost:</label>
                                <input type="text" class="form-control" id="f14" name="f14" placeholder="" value="" >
                            </div> 
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="f15">Margin</label>
                                <input type="text" class="form-control" id="f15" name="f15" placeholder="" value="62.72" >
                            </div> 							
                    </div>
                    </div>	
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 margin-bottom-15">
                       <h4></h4>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="tariff1">Tariff:</label>
                                <input type="text" class="form-control" id="tariff1" name="tariff1" placeholder="" value="IC" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="zone1">ZONE:</label>
                                <input type="text" class="form-control" id="zone1" name="zone1" placeholder="" value="13" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="status1">Status:</label>
                                 <select class="form-control ">
                                <option>N</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="weight1">Weight:</label>
                                <input type="text" class="form-control" id="weight1" name="weight1" placeholder="" value="13" >
                            </div>        
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="invoice1">invoice no:</label>
                                <input type="text" class="form-control" id="invoice1" name="invoice1" placeholder="" value="" >
                            </div>  
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="invoice2">invoice ref:</label>
                                <input type="text" class="form-control" id="invoice2" name="invoice2" placeholder="" value="" >
                            </div>   							
										
                    </div>
                    </div>					
                </div>
				
            </div>
        </section>
    </div>   
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      				
                    </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>					
                </div>
            </div>
        </section>
    </div>	
</div>   
    </div>
    
    
</div>