
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'All Shipment';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Shipment Listing</h2>
               <!-- <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>-->
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/shipment-listing.json',
          aoColumns: [
            { mData: 'bil' },
            { mData: 'date' },
            { mData: 'acc' },
            { mData: 'town' },
            { mData: 'country' },
            { mData: 'weight' },
            { mData: 'piece' },
            { mData: 'prod' },
            { mData: 'spec' },
            { mData: 'spec' },
            { mData: 'agent' },
            { mData: 'const' },
            { mData: 'spec' },
            
            
            { mData: 'spec' }
          ]
        }" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">Waybill</th>
                                        <th style="width:10%">Date</th>
                                        
                                        <th style="width:10%">Account</th>
                                        <th style="width:10%">Town/City</th>
                                        <th style="width:10%">Country</th>
                                        <th style="width:5%">Weight</th>
                                        <th style="width:5%">Pieces</th>
                                        <th style="width:5%">Prod</th>
                                        <th style="width:5%">Special</th>
                                        <th style="width:5%">Service Upgrade</th>
                                        <th style="width:10%">Agent</th>
                                        <th style="width:10%">Constigener</th>
                                        <th style="width:10%">Manifest</th>
                                        <th style="width:10%">Hawb</th>
                                        
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
