<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Smart Table';">
    <div class="col-lg-12" ng-controller="SmartTableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">The basics</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>first name</th>
                                    <th>last name</th>
                                    <th>birth date</th>
                                    <th>balance</th>
                                    <th>email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rowCollectionBasic" st-select-row="row">
                                    <td>{{row.firstName}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.birthDate}}</td>
                                    <td>{{row.balance}}</td>
                                    <td>{{row.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12" ng-controller="SmartTableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">stSafeSrc attribute</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
                            <i class="glyphicon glyphicon-plus">
                    </i> Add random item
                        </button>
                        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="firstName">first name</th>
                                    <th st-sort="lastName">last name</th>
                                    <th st-sort="birthDate">birth date</th>
                                    <th st-sort="balance">balance</th>
                                    <th width="50"></th>
                                </tr>
                                <tr>
                                    <th colspan="5">
                                        <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in displayedCollection">
                                    <td>{{row.firstName}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.birthDate}}</td>
                                    <td>{{row.balance}}</td>
                                    <td>
                                        <button type="button" ng-click="removeItem(row)" class="btn btn-xs btn-default">
                                            <i class="material-icons icon-sm">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12" ng-controller="SmartTableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Format data & cell templating</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>first name</th>
                                    <th>last name</th>
                                    <th>birth date</th>
                                    <th>balance</th>
                                    <th>email</th>
                                    <th width="50"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rowCollectionBasic">
                                    <td>{{row.firstName | uppercase}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.birthDate | date}}</td>
                                    <td>{{row.balance | currency}}</td>
                                    <td>
                                        <a ng-href="mailto:{{row.email}}">email</a></td>
                                    <td>
                                        <button type="button" ng-click="removeRow(row)" class="btn btn-xs btn-default">
                                            <i class="material-icons icon-sm">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12" ng-controller="SmartTableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Search/filter data</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form class="col-md-3 row">
                            <label for="predicate">selected predicate:</label>
                            <select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
                        </form>
                        <div class="clearfix"></div>
                        <table st-table="rowCollectionBasic" class="table table-striped margin-top-15">
                            <thead>
                                <tr>
                                    <th st-sort="firstName">first name</th>
                                    <th st-sort="lastName">last name</th>
                                    <th st-sort="birthDate">birth date</th>
                                    <th st-sort="balance">balance</th>
                                    <th>email</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search" />
                                    </th>
                                    <th colspan="3">
                                        <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                                    </th>
                                    <th>
                                        <input st-search="selectedPredicate" placeholder="bound predicate" class="input-sm form-control" type="search" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rowCollectionBasic">
                                    <td>{{row.firstName | uppercase}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.birthDate | date}}</td>
                                    <td>{{row.balance | currency}}</td>
                                    <td><a ng-href="mailto:{{row.email}}">email</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12" ng-controller="SmartTableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Client side Pagination</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form class="row col-md-3">
                            <label>items by page</label>
                            <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsByPage">
                        </form><br>

                        <div class="clearfix"></div>
                        <table st-table="rowCollectionPage" class="table table-striped margin-top-15 margin-bottom-0">
                            <thead>
                                <tr>
                                    <th st-sort="firstName">first name</th>
                                    <th st-sort="lastName">last name</th>
                                    <th st-sort="birthDate">birth date</th>
                                    <th st-sort="balance">balance</th>
                                    <th>email</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search" />
                                    </th>
                                    <th colspan="4">
                                        <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rowCollectionPage">
                                    <td>{{row.firstName | uppercase}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.birthDate | date}}</td>
                                    <td>{{row.balance | currency}}</td>
                                    <td><a ng-href="#!/app/user-add?add">email</a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12" ng-controller="SmartTableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">pipe/ajax plugin</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table st-table="rowCollectionPip" st-pipe="callServer" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="firstName">first name</th>
                                    <th st-sort="lastName">last name</th>
                                    <th st-sort="birthDate">birth date</th>
                                    <th st-sort="balance">balance</th>
                                    <th>email</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search" />
                                    </th>
                                    <th colspan="4">
                                        <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-hide="isLoading">
                                <tr ng-repeat="row in rowCollectionPip">
                                    <td>{{row.firstName | uppercase}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.birthDate | date}}</td>
                                    <td>{{row.balance | currency}}</td>
                                    <td><a ng-href="mailto:{{row.email}}">email</a></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="5" class="text-center"><i class="material-icons icon-sm">refresh</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
