<div class="login_page">
<div class="login-wrapper" ng-controller="LoginFormController">
    <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angular</a></h1>

        <form name="form" class="form-validation">
    
          <div class="text-danger text-center message" ng-show="authError">
              {{authError}}
          </div>

            <p>
                    <input type="email" name="email" id="user_login" class="input" ng-model="user.email" placeholder="Email" required/></label>
            </p>
            <p>
                    <input type="password" name="pwd" id="user_login" class="input" ng-model="user.password" placeholder="Password" required/></label>
            </p>
          <!--  <p class="forgetmenot">

                            <label class="icheck icheck-white" for="rememberme">
                                <input type="checkbox" value="forever" name="rememberme" checked id="rememberme">
                                <i></i> Remember me
                            </label>
            </p>-->



            <p class="submit">
            <button type="submit" ng-click="login()" ng-disabled='form.$invalid' class="btn btn-accent btn-block">Sign In</button>
            </p>
        </form>

       <!-- <p id="nav">
            <a class="pull-left" ui-sref="access.forgotpwd" title="Password Lost and Found">Forgot password?</a>
            <a class="pull-right" ui-sref="access.register" title="Sign Up">Sign Up</a>
        </p>-->


    </div>
</div>
</div>




