<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit User';">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Doctor Basic Info</h2>
                
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                <form action ="#" method="post" class="form-validation">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-name">Name</label>
                            <span class="desc">e.g Allan</span>
                            <div class="controls">
                                <input type="text" class="form-control" id="field-name" name="username"  required>
                            </div>
                        </div>
                     
                      
                        
                        
                       
                        <div class="form-group">
                            <label class="form-label" for="field-email">Email</label>
                            <span class="desc">abc@xyz.com</span>
                            <div class="controls"> 
                                <input type="email" class="form-control" id="field-email" name="email" required>
                            </div>
                        </div>
						
						<div class="form-group">
                                <label class="form-label" for="formfield8">Password</label>
                                <span class="desc">e.g. "hello123"</span>
                                <div class="controls">
                                    <input type="password" class="form-control" name="password" ng-model="password" required>
                                </div>
                            </div>	
							<div class="form-group">
                            <label class="form-label" for="field-pages">Select Pages</label>
                            <div class="controls">
                                <select ui-jq="chosen" multiple class="form-control" data-placeholder="Pages for current User" name="pages[]" required>
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option>Dallas Cowboys</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                        <optgroup>
                                            <optgroup label="NFC NORTH">
                                                <option>Chicago Bears</option>
                                                <option>Detroit Lions</option>
                                                <option>Green Bay Packers</option>
                                                <option>Minnesota Vikings</option>
                                            </optgroup>
                                            <optgroup label="NFC SOUTH">
                                                <option>Atlanta Falcons</option>
                                                <option>Carolina Panthers</option>
                                                <option>New Orleans Saints</option>
                                                <option>Tampa Bay Buccaneers</option>
                                            </optgroup>
                                            <optgroup label="NFC WEST">
                                                <option>Arizona Cardinals</option>
                                                <option>St. Louis Rams</option>
                                                <option>San Francisco 49ers</option>
                                                <option>Seattle Seahawks</option>
                                            </optgroup>
                                            <optgroup label="AFC EAST">
                                                <option>Buffalo Bills</option>
                                                <option>Miami Dolphins</option>
                                                <option>New England Patriots</option>
                                                <option>New York Jets</option>
                                            </optgroup>
                                            <optgroup label="AFC NORTH">
                                                <option>Baltimore Ravens</option>
                                                <option>Cincinnati Bengals</option>
                                                <option>Cleveland Browns</option>
                                                <option>Pittsburgh Steelers</option>
                                            </optgroup>
                                            <optgroup label="AFC SOUTH">
                                                <option>Houston Texans</option>
                                                <option>Indianapolis Colts</option>
                                                <option>Jacksonville Jaguars</option>
                                                <option>Tennessee Titans</option>
                                            </optgroup>
                                            <optgroup label="AFC WEST">
                                                <option>Denver Broncos</option>
                                                <option>Kansas City Chiefs</option>
                                                <option>Oakland Raiders</option>
                                                <option>San Diego Chargers</option>
                                            </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </section>
    </div>
    
    
</div>